.form {
  .title {
    color: $color-light;
    background-color: $color-2;
    padding: 20px;
    margin-bottom: 40px;
  }
  input {
    padding: 30px;
    font-size: 16px;
    &[type='submit'] {
      background-color: $color-2;
      padding: 20px;
      width: 100%;
    }
  }
}

.btn-home {
  $padding: 12px;
  color: white;
  background-color: $color-2;
  font-size: 16px;
  padding: $padding;
  &:hover {
    background-color: $color-light;
    color: $color-2;
  }
  &-full {
    width: 100%;
  }
  &-transparent {
    border: $color-2 1px solid;
    padding: $padding;
    color: $color-2;
    &:hover {
      color: $color-light;
      border: $color-light 1px solid;
    }
  }

}

.btn {

  &-stake {
    background-color: $color-3;
    color: $color-light;
    font-size: 10px;
    padding: 2px;
    margin: 2px;
    &:hover {
      color: $color-3;
      background-color: $color-light;
      border: $color-3 1px solid;
    }
  }
}
