a{
  color: $color-light;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.App {
  background-size: cover;
  background: url(/static/images/wallpaper.png) no-repeat fixed;
  background-color: $color-1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: .5rem .4rem;
  padding: 10px;
  &-picker {
    grid-gap: 30px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  }
  &-3 {
    grid-template-columns: auto auto auto;
  }
  &-8 {
    grid-template-columns: auto auto auto auto auto auto auto auto;
  }

}

.panel {
  margin: 0 auto;
  width: 90%;
  border-radius: 10px;
  padding: 10px 20px;
  h1 {
    color: $color-3;
  }
  &-info {
    opacity: .8;
    background-color: white;
  }
}
